[tool.poetry]
name = "harlequin-databricks"
version = "0.4.0"
description = "A Harlequin adapter for Databricks."
authors = [
    "Zach Shirah <zachshirah01@gmail.com>",
    "Alex Malins <github@alexmalinsREMOVETHIS.com>",
]
license = "MIT"
homepage = "https://harlequin.sh/docs/databricks/index"
repository = "https://github.com/alexmalins/harlequin-databricks"
documentation = "https://harlequin.sh/docs/databricks/index"
readme = "README.md"
packages = [
    { include = "harlequin_databricks", from = "src" },
]

[tool.poetry.plugins."harlequin.adapter"]
databricks = "harlequin_databricks:HarlequinDatabricksAdapter"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
harlequin = "^1.24.0"
databricks-sql-connector = "^3.0.3"
databricks-sdk = { version = ">=0.30.0", optional = true }

[tool.poetry.extras]
databricks-sdk = ["databricks-sdk"]

[tool.poetry.group.dev.dependencies]
black = "^24.8.0"
ruff = "^0.6.3"
pytest = ">=7.3.1,<9.0.0"
mypy = "^1.11.2"
pre-commit = "^3.5.0"
importlib_metadata = { version = ">=8.0", python = "<3.10.0" }
beautifulsoup4 = "^4.12.0"
types-beautifulsoup4 = "^4.12.0.0"
lxml = "^5.2.2"
pandas = "^2.0.0"
pandas-stubs = "^2.0.0.230412"
requests = "^2.32.0"
types-requests = "^2.32.0.20240712"

[tool.poetry.urls]
Changelog = "https://github.com/alexmalins/harlequin-databricks/blob/main/CHANGELOG.md"
Discussions = "https://github.com/alexmalins/harlequin-databricks/discussions"
Issues = "https://github.com/alexmalins/harlequin-databricks/issues"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["A", "B", "E", "F", "I"]
target-version = "py38"

[tool.ruff.lint.pycodestyle]
max-line-length = 100

[tool.mypy]
python_version = "3.8"
files = [
    "src/**/*.py",
    "tests/**/*.py",
]
mypy_path = "src:stubs"

show_column_numbers = true

# show error messages from unrelated files
follow_imports = "normal"

# be strict
disallow_untyped_calls = true
disallow_untyped_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
strict_optional = true

warn_return_any = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_ignores = false
warn_unused_configs = true

no_implicit_reexport = true
strict_equality = true
