[tool.poetry]
name = "harlequin-databricks"
version = "0.1.1"
description = "A Harlequin adapter for Databricks."
authors = [
    "Zach Shirah <zachshirah01@gmail.com>",
    "Alex Malins <github@alexmalinsREMOVETHIS.com>",
]
license = "MIT"
homepage = "https://harlequin.sh/docs/databricks/index"
repository = "https://github.com/alexmalins/harlequin-databricks"
documentation = "https://harlequin.sh/docs/databricks/index"
readme = "README.md"
packages = [
    { include = "harlequin_databricks", from = "src" },
]

[tool.poetry.plugins."harlequin.adapter"]
databricks = "harlequin_databricks:HarlequinDatabricksAdapter"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
harlequin = "^1.14"
databricks-sql-connector = "^3.0.3"

[tool.poetry.group.dev.dependencies]
black = "^23.12.1"
ruff = "^0.1.6"
pytest = "^7.4.3"
mypy = "^1.7.0"
pre-commit = "^3.5.0"
importlib_metadata = { version = ">=4.6.0", python = "<3.10.0" }
beautifulsoup4 = "^4.12.3"
lxml = "^5.1.0"
pandas = "^2.0.0"
requests = "^2.0.0"

[tool.poetry.urls]
changelog = "https://github.com/alexmalins/harlequin-databricks/blob/main/CHANGELOG.md"
discussions = "https://github.com/alexmalins/harlequin-databricks/discussions"
issues = "https://github.com/alexmalins/harlequin-databricks/issues"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["A", "B", "E", "F", "I"]
target-version = "py38"

[tool.mypy]
python_version = "3.8"
files = [
    "src/**/*.py",
    "tests/**/*.py",
]
mypy_path = "src:stubs"

show_column_numbers = true

# show error messages from unrelated files
follow_imports = "normal"

# be strict
disallow_untyped_calls = true
disallow_untyped_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
strict_optional = true

warn_return_any = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true

no_implicit_reexport = true
strict_equality = true
