name: Upload release to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.14']
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    timeout-minutes: 10

    steps:
    - name: Check out code repository
      uses: actions/checkout@v4
      with:
          persist-credentials: false

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build
      run: uv build

    - name: Publish to TestPyPI
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.TESTPYPI_API_TOKEN }}
      run: uv publish --index testpypi

    - name: Publish to PyPI
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      run: uv publish
